#logoBar{
  width: 100vw;
  height: 100vh;
  align-items: center;
}
#siteLogo{
  width: 100%;
}

#content-heading{
  background-color: #b1e1cf;
  border: 1px solid black;
  height: 7%;
  padding: 1px; 
}

#content-heading, #block-text {
  width: 95%;
  max-width: 100%;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

#block-text{
  background-color: whitesmoke;
  border: 1px solid black;
  min-width: fit-content;
  min-height: fit-content;
  padding-bottom: 20px;
  margin-bottom: 10px;
}


#image-container{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid black;
  width: 90%;
  height: auto;
  padding: 2px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.image-container3 img{
  width: 95%;
  height: auto;
  object-fit: contain;
  
}


ul{
  padding: 10px;
  text-align: left;
 }

li{
  padding: 10px;
  text-align: left;
  margin-left: 20px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f9f3f0;
}

p{
  padding: 10px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;

}

h1{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: #151837

}

h2{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  margin: auto;
  padding: 15px; 

}

h3{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  margin: auto;
  padding: 15px; 
}

h5{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  font-weight: 400;
  color:#151837
}

.question-container {
  display: flex;
  background-color: #ebedec;
  border: 1px solid black;
  width: 100%;
  height: 7%;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  align-items: center;
}

.answer-container {
  display: none;
  background-color: whitesmoke;
  min-height: fit-content;
  height: auto;
}

.answer-container.visible {
  display: block;
  transition: all 0.3s ease-in-out;
}



.section-container{
  width: 90vw;
  margin: auto;
  align-items: center;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  text-align: center;
  padding: 1%;
}



.observation-and-interview {
  width: 90%;
  flex-direction: column;
  align-items: center;
  height: 90%

}

.question, .answer {
  text-align: center;
}

.question {
  padding: 5px;
  cursor: pointer;
  display: flex; 
  font-family: Tahoma, Geneva, sans-serif;

}

.answer {
  display: none;
  padding: 10px;
  margin-bottom: 5px;
}

.answer.visible{
  display: block;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: #151837 solid px;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.arrow {
  padding-left: 2px;
  padding-right: 2px;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  align-items: center;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background: rgb(173, 196, 230);
  color: #151837;
  border: 3px solid #151837;
  list-style: none;
  padding-top: 2rem;
}

.showMenu {
  transform: translateX(0);
}

.menuItem {
  display: block;
  color: black;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  align-items: center;
  border: 1px solid #151837;
  transition: background-color 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menuItem:hover {
  background-color: aliceblue;
  padding: 20px;
}

.menuItem:active {
  background-color: rgb(41, 42, 43);
}
